.InsertFormButton{
    font-size: 30px;
    color: #020020;
    background-color: #f3f3f3;
    border:2px solid #020020;
    border-radius: 10px;
    display: 'inline-block';
    margin: 3px;
    padding:  5px 15px;
    user-select: none;
    
}
.InsertFormButton:hover{
    color: #f3f3f3;
    background-color: #020020;
}
.buttonText{
    font-weight: 550;
    display: inline-block;
    margin-left: 5px;
}
