.TodosFilterButton{
    display: block;
    text-align: left;
    margin: 5px;
    padding:5px;
    font-weight: 600;

}
.button-input{
    border: 1px solid #020020;
    border-radius: 15px;
    display: inline-block;
    margin-left: 4px;
    padding: 10px;
    font-size: 1.5rem;
    user-select: none;
    cursor: pointer;
    transition: background-image 200ms, transform 200ms;
    

}
.button-input:hover{
    background-image: linear-gradient(to left,#F95F3D,#FCBA4C);
    transform: scale(1.03);

}
.checked{
    background-image: linear-gradient(to left,#F95F3D,#FCBA4C);
    border: 2px solid #020020;
}
