.todo{
    color: #f3f3f3;
    padding: 8px;
    border: 1px solid #020020;
    border-radius: 15px;
    display: inline-block;
    margin: 5px;
    background-color: #020020;


}
.todocontent{
    display: flex;

}
.backgroundbar{
    height: 5px;
    background-color: #f3f3f3;
    margin-top: 5px;
    border-radius: 15px;
    position: relative;
    background-repeat: repeat;
    background-position: left;
    border: 1px solid #f3f3f3;
    box-shadow: 0 0 2px 1px #f3f3f3;


}

.progressbar{
    position: absolute;
    height: 100%;
    border-radius: 15px;
    background-image: linear-gradient(to left,#F95F3D,#FCBA4C);
    transition: width 300ms;
    top: 0;
    left: 0;
    
}
.seperator{
    display: inline-block;
    text-align: left;

}
.todoname{

    padding: 3px;
    font-weight: 600;
    font-size: 1.4rem;
    word-break: break-word;

    
}
.todotextcontainer{
    margin-bottom: 10px;
    


}
.text-fill{
    background-image:  linear-gradient(to left,#F95F3D,#FCBA4C);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.white{
    background-color:  #f3f3f3;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.dtcontainer{
    margin-bottom: 5px;
    position: relative;
}
.duetoday{
    background-color: red;
    color: #f3f3f3;
    border-radius: 5px;
    padding: 2px;
    box-shadow: inset 0 0 10px 4px #000,0 0 10px 0 red;
    border: 1px solid red;
    display: inline-block;
}
.buttoncontainer{
    text-align: right;
    display: flex;
    align-items: flex-end;

}
.dateTimeDue{

    padding: 2px;
    font-size: 1rem;
    border-radius: 5px;
    
}
.Normal{
    background-color: yellow;
    color: #020020;
    font-size: 1.1rem;
    border-radius: 50%;
    font-weight: bold;
    padding: 0 7px;
    user-select: none;
    display: inline-block;
    box-shadow: 0 0 5px 1px yellow;
    


}
.Urgent{
    background-color: red;
    color: #020020;
    font-size: 1.1rem;
    border-radius: 50%;
    font-weight: bold;
    padding: 0 7px;
    user-select: none;
    display: inline-block;
    box-shadow: 0 0 5px 1px red;




}
.Optional{
    background-color: greenyellow;
    color: #020020;
    font-size: 1.1rem;
    border-radius: 50%;
    font-weight: bold;
    padding: 0 7px;
    user-select: none;
    display: inline-block;
    box-shadow: 0 0 5px 1px greenyellow;



}
.completepriority{
    background-color: #f3f3f3;
    color: #020020;
    font-size: 1.1rem;
    border-radius: 50%;
    font-weight: bold;
    padding: 0 7px;
    user-select: none;

}
 .dateTimeDue .tooltip{
    position: absolute;
    visibility: hidden;
    color:#020020;
    background-color:white;
    border-radius: 10px;
    padding: 4px;
    left: 25px;
    font-weight: 500;
    z-index: 2;


}
.dateTimeDue:hover .tooltip{

    visibility: visible;

}
.timebar{
    height: 2px;
    width: 100%;
    border: 1px solid #020020;
    border-radius: 15px;
    display: block;

}
.button{
    color: #f3f3f3;
    font-size: 25px;
    border-radius: 10px;
    background: rgba(2, 0, 32, 0.8);
    margin-left: 5px;
    border: 1px solid rgba(2, 0, 32, 0.8);
    cursor: pointer;
    transition: transform 200ms;
}
.button:hover{
    transform: scale(1.1);
}
.accept-button{
    transition: box-shadow 200ms;  

}
.accept-button:hover{
    background-color: rgb(0, 196, 22);
    box-shadow: inset 0 0 10px 4px #020020,0 0 10px 0 rgb(0, 196, 22);
    border: 1px solid rgb(0, 196, 22);  

}
.delete-button:hover{
    background-color: rgb(222, 9, 9);
    box-shadow: inset 0 0 10px 4px #020020,0 0 10px 0 rgb(222, 9, 9);
    border: 1px solid rgb(222, 9, 9); 

}
.delete-button{
    padding: 1px 10px;
    transition: box-shadow 200ms; 

}
.shake{
    animation-name: shake;
    animation-duration: 800ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.line-thru{
    text-decoration: line-through solid #f3f3f3 1px;
    color: #f3f3f3;
}
@keyframes shake {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
    
}
@media only screen and (max-width: 600px){
    .todo{
        width: 100%;

    }
    .seperator{
        display: inline-block;
        text-align: left;
        width: 100%;
    
    }

}