.todo{
    color: #f3f3f3;
    padding: 10px;
    border: 1px solid #020020;
    border-radius: 15px;
    display: inline-block;
    margin: 5px;
    background-color: #020020;


}
.todocontent{
    display: flex;

}
.progressbar{
    height: 5px;
    background-color: #f3f3f3;
    margin-top: 5px;
    border-radius: 15px;

}
.seperator{
    display: inline-block;
    text-align: left;

}
.todoname{
    padding: 3px;
    font-weight: 600;
    font-size: 1.4rem;
    word-break: break-word;
}
.todotextcontainer{
    margin-bottom: 10px;
}
.dtcontainer{
    margin-bottom: 5px;
    position: relative;
}
.buttoncontainer{
    text-align: right;
    display: flex;
    align-items: flex-end;

}
.dateTimeDue{

    padding: 2px;
    font-size: 1rem;
    border-radius: 5px;
    
}
.Medium{
    background-color: yellow;
    color: #020020;
    font-size: 1.1rem;
    border-radius: 50%;
    font-weight: bold;
    padding: 0 7px;
    user-select: none;

}
.Urgent{
    background-color: orangered;
    color: #020020;
    font-size: 1.1rem;
    border-radius: 50%;
    font-weight: bold;
    padding: 0 7px;
    user-select: none;



}
.Optional{
    background-color: greenyellow;
    color: #020020;
    font-size: 1.1rem;
    border-radius: 50%;
    font-weight: bold;
    padding: 0 7px;
    user-select: none;



}
.completepriority{
    background-color: #f3f3f3;
    color: #020020;
    font-size: 1.1rem;
    border-radius: 50%;
    font-weight: bold;
    padding: 0 7px;
    user-select: none;

}
 .dateTimeDue .tooltip{
    position: absolute;
    visibility: hidden;
    color:#020020;
    background-color:white;
    border-radius: 10px;
    padding: 4px;
    left: 25px;
    font-weight: 500;
    z-index: 2;


}
.dateTimeDue:hover .tooltip{

    visibility: visible;

}
.timebar{
    height: 2px;
    width: 100%;
    border: 1px solid #020020;
    border-radius: 15px;
    display: block;

}
.button{
    color: #f3f3f3;
    font-size: 25px;
    border-radius: 10px;
    background: rgba(2, 0, 32, 0.8);
    margin-left: 5px;
    border: 1px solid rgba(2, 0, 32, 0.8);
}
.accept-button:hover{
    background: rgb(0, 196, 22);
    color: black;

}
.delete-button:hover{
    background: rgb(222, 9, 9);
    color: black;

}
.delete-button{
    padding: 1px 10px;

}
@media only screen and (max-width: 600px){
    .todo{
        width: 100%;

    }
    .seperator{
        display: inline-block;
        text-align: left;
        width: 100%;
    
    }

}